{{!< base}}

<div class="row">
  <div class="col app-container" style="height:600px;">
    <p4-arduino-ide-container id="setup-workshop-ide-container">
      <div class="code-editor" id="setup-workshop-monaco"></div>
      <div class="compiler-output">
        <pre class="compiler-output-text" id="compiler-output-text"></pre>
      </div>
    </p4-arduino-ide-container>
  </div>
  <div class="col">
    <div class="">
      <wokwi-arduino-uno id="setup-workshop-wokwi-arduino"></wokwi-arduino-uno>
      <wokwi-led id="led1"></wokwi-led>
      </div>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/loader.js"></script>
<script src="ts/challenge.ts"></script>